body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1 {
   text-align: center;
   width: 30%;
   margin: 0 auto; 
}

nav {
    width: 50%;
    display: flex;
    background-color: brown;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0 25%;

}

nav li {
    display: inline-flex;
    justify-content: center;
    

}

div {
    background-color: bisque;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    
}
table {
    background-color: white;
    width: 30%;
    height: 100%;
    margin: 2% auto;

}

table thead td {
    background-color: rgb(161, 181, 64);
    font-weight: bold;
    font-family: "Roboto";
    font-size: 20px;
}

th {
    font-weight: bold;
    border: 1px solid black;
    background-color: aquamarine;
    

}
table td { 
    background-color: rgb(197, 241, 183);
    border: 1px solid black;
    padding: 1px;
    text-align: center;
    
}

td.property  {
    font-family: monospace;
}

td.sample1 {
    color: brown;
}

td.sample2 {
    background-color: brown;
}

td.sample3 {
    font-size: 32px;
}

td.sample4 {
    font-weight: bold;
}

td.sample5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td.sample6 {
    font-style: italic;
}

table td:hover + td {
    font-size: 1.2em;
    background-color: white;
    color: rgb(17, 3, 42);
    cursor: pointer;
    border: 2px solid red;
}

code:hover {
    cursor: pointer;
}

