body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1.title {
    
    width: 300px;
    text-align: center;
    float: inline-end;
    margin-right: 30%;
}

nav {
    width: 20%;
    height: 100%;
    background-color: brown;
    float: left;
    position: fixed;
    border-radius: 10px;
}

nav ul {
    text-align: center;
}

nav li {
    padding: 20px 30px;
    background-color: rgb(210, 146, 17);
    list-style: none;
    width: 250px;
    text-align: left;
    border: 2px solid brown;
    border-radius: 10px;
}